.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.imgContainer {
  position: relative;
  height: 400px;
  width: 300px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 5%;
  min-width: 50%;
}
