:root {
  --bg: #22223b;
  --bgs: #4a4e69;
  --bgt: #9a8c98;
  --text: #f2e9e4;
  --textSoft: #c9ada7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

body::-webkit-scrollbar {
  width: 40px;
  background-color: var(--bg);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bgs);
  border-radius: 20px;
  border: 16px solid var(--bg);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1500px;
  width: calc(100vw - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  margin: auto;
  /* padding-left: 50px; */
  /* padding-right: 50px; */
  padding-right: 5%;
  padding-left: 5%;
  min-height: 100vh;
}
